<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Blog</title>
</head>
<body>
<h1>Create Blog</h1>
<form th:action="@{/blog/update}" method="post" th:object="${blog}">
    <table>
        <tr>
            <td>Author</td>
            <td><input type="text" th:field="*{author}"></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><input type="text" th:field="*{content}"></td>
        </tr>
        <tr>
            <td>Publish</td>
            <td><input type="date" th:field="*{datePublish}"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select th:field="*{blogCategory}">
                    <option th:each="c : ${blogCategories}" th:value="${c.categoryId}" th:text="${c.categoryName}"/>
                </select>
            </td>
        </tr>
    </table>
    <input type="hidden" th:hidden="*{blogId}">
    <input type="submit" value="Update Blog"/>
</form>
</body>
</html>